{% extends 'base.html' %}

{% block title %}Survey Questions{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="mt-4">{{question}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <form action="/answer" class="fs-3 my-4" method="POST">
                <div class="row">
                    <div class="col">
                        {% for answer in answers %}
                        <label for="{{answer}}" class="form-check-label">{{answer}}</label>
                        <input type="radio" id="{{answer}}" class="form-check-input mx-1" name="answer"
                            value="{{answer}}" required>
                        <input type="hidden" name="question" value="{{question}}">
                        {% endfor %}
                    </div>
                </div>
                {% if allow_text %}
                <div class="row">
                    <div class="col mt-4">
                        <textarea name="comments" id="comments" cols="30" rows="5" placeholder="Comments:"></textarea>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col my-4">
                        <button class="btn btn-lg btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>





{% endblock %}