{% extends 'base.html' %}

{% block title %}Survey Intro{% endblock %}

{% block content %}

<div class="container">
    <div class="row m-3">
        <div class="col">
            <h1 class="text-center">{{title}} Survey</h1>
        </div>
    </div>
    <div class="row m-3">
        <div class="col">
            <h2 class="text-center">{{instructions}}</h2>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col text-center">
            <form action="/reset-responses" method="POST">
                <button class="btn btn-lg btn-success">Start Survey!</button>
            </form>
        </div>
    </div>
</div>






{% endblock %}